<app-search></app-search>
<!-- <div *ngFor="let item of listOfString">
  <p>Current Element of array is: {{ item }}</p>
</div> -->
<!-- <div class="card m-3" style="width: 18rem">
  <img class="card-img-top p-2" [src]="product.pImage" alt="Product Image" />
  <div class="card-body">
    <p>Name: {{ product.name }}</p>
    <p>Price: ${{ product.price }}</p>
    <p>Color: {{ product.color }}</p>
    <p>
      Discounted Price:
      {{ "$" + getDiscountedPrice().toFixed(2) }}
    </p>
    <p>
      {{
        product.inStock > 0
          ? "Only " + product.inStock + " Item Left"
          : "Not in Stock"
      }}
    </p>
    <div class="justify-content-center align-content-center">
      <button class="btn btn-secondary m-2" (click)="decrementCartValue()">
        -
      </button>
      <span class="lead m-2">{{ addToCart }}</span>
      <button class="btn btn-secondary m-2" (click)="incrimentCartValue()">
        +
      </button>
    </div> -->
<!-- <input
      class="form-control my-2"
      type="text"
      (input)="onNameChange($event)"
    />
    <p>Name: {{ name }}</p> -->
<!-- </div>
</div> -->

<app-product-list></app-product-list>
